{% extends 'base.html' %}

{% block title %}Sale{% endblock  %}
{% block sale %}

  <!-- Header -->
  <header class="bg-gray-800 p-4 text-white">
    <h1 class="text-2xl font-bold">Punto de Venta</h1>
</header>

<!-- Main Content -->
<div class="container mx-auto p-4 text-white">

    <!-- Buscar Cliente Section -->
    <section id="buscar-cliente" class="mb-8">
        <h2 class="text-xl font-semibold mb-4">Buscar Cliente</h2>
        <form class="bg-gray-800 p-4 rounded flex space-x-4" method="POST">
            {% csrf_token %}
            <input type="text" id="buscar_cliente" placeholder="Buscar Cliente" class="w-full p-2 bg-gray-700 rounded">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Buscar
            </button>
        </form>
    </section>

    <!-- Seleccionar Producto Section -->
    <section id="seleccionar-producto" class="mb-8">
        <h2 class="text-xl font-semibold mb-4">Seleccionar Producto</h2>
        <form class="bg-gray-800 p-4 rounded flex space-x-4" method="POST">
            {% csrf_token %}
            <input type="text" id="buscar_producto" placeholder="Buscar Producto" class="w-full p-2 bg-gray-700 rounded">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Agregar
            </button>
        </form>
    </section>

    <!-- Productos Seleccionados Section -->
    <section id="productos-seleccionados" class="mb-8">
        <h2 class="text-xl font-semibold mb-4">Productos Seleccionados</h2>
        <div class="bg-gray-800 p-4 rounded">
            <table class="min-w-full bg-gray-800">
                <thead>
                    <tr>
                        <th class="py-2">Producto</th>
                        <th class="py-2">Cantidad</th>
                        <th class="py-2">Precio</th>
                        <th class="py-2">Total</th>
                        <th class="py-2">Acciones</th>
                    </tr>
                </thead>
                <tbody id="productos-lista">
                    <!-- Aquí se añadirán dinámicamente las filas de productos -->
                </tbody>
            </table>
            <div class="mt-4 text-right">
                <button type="button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    Generar Venta
                </button>
            </div>
        </div>
    </section>

</div>

{% endblock  %}
    